# LINEAR REGRESSION

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data  = pd.read_csv("/Users/soumobratamanna/Documents/Data_Science_Projects/tensorflow-test/Stores.csv")

In [3]:
data.head(10)

   Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1        1659             1961                   530        66490
1          2        1461             1752                   210        39820
2          3        1340             1609                   720        54010
3          4        1451             1748                   620        53730
4          5        1770             2111                   450        46620
5          6        1442             1733                   760        45260
6          7        1542             1858                  1030        72240
7          8        1261             1507                  1020        37720
8          9        1090             1321                   680        46310
9         10        1030             1235                  1130        44150

In [4]:
data.tail(10)

     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
886        887        1655             1986                  1150        77430
887        888        1156             1398                   140        92370
888        889        1451             1734                   670        34880
889        890        1539             1829                   650        46580
890        891        1549             1851                  1220        70620
891        892        1582             1910                  1080        66390
892        893        1387             1663                   850        82080
893        894        1200             1436                  1060        76440
894        895        1299             1560                   770        96610
895        896        1174             1429                  1110        54340

In [5]:
data.shape

(896, 5)

In [6]:
data.info

<bound method DataFrame.info of      Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0            1        1659             1961                   530        66490
1            2        1461             1752                   210        39820
2            3        1340             1609                   720        54010
3            4        1451             1748                   620        53730
4            5        1770             2111                   450        46620
..         ...         ...              ...                   ...          ...
891        892        1582             1910                  1080        66390
892        893        1387             1663                   850        82080
893        894        1200             1436                  1060        76440
894        895        1299             1560                   770        96610
895        896        1174             1429                  1110        54340

[896 rows x 5 columns]>

In [7]:
data.isnull().sum()

Store ID                0
Store_Area              0
Items_Available         0
Daily_Customer_Count    0
Store_Sales             0
dtype: int64

In [8]:
#DIVIDING THE DATA BETWEEN INDEPENDENT AND DEPENDENT VARIABLES 
X = data.iloc[:,:-1]
Y = data.iloc[:,-1]

In [9]:
X

     Store ID   Store_Area  Items_Available  Daily_Customer_Count
0            1        1659             1961                   530
1            2        1461             1752                   210
2            3        1340             1609                   720
3            4        1451             1748                   620
4            5        1770             2111                   450
..         ...         ...              ...                   ...
891        892        1582             1910                  1080
892        893        1387             1663                   850
893        894        1200             1436                  1060
894        895        1299             1560                   770
895        896        1174             1429                  1110

[896 rows x 4 columns]

In [10]:
Y

0      66490
1      39820
2      54010
3      53730
4      46620
       ...
891    66390
892    82080
893    76440
894    96610
895    54340
Name: Store_Sales, Length: 896, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test ,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [12]:
#LOADING THE MODEL
from sklearn.linear_model import LinearRegression

In [13]:
model = LinearRegression()
model.fit(X_train,Y_train)
predictions = model.predict(X_test)

In [14]:
from sklearn.metrics import r2_score, mean_squared_error
r2 = r2_score(Y_test,predictions)
mse = mean_squared_error(Y_test,predictions)

In [15]:
print("The r2 score of the model is :",r2)

The r2 score of the model is : 0.0013749749685966206

In [16]:
print("The mse of the model is :",mse)

The mse of the model is : 271673841.05819905